*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --black: #0B1016;
    --white : #f2f2f2;
    --purple : #312f61;
    --dark-purple : #212556;
    --grey : #B3B3B3;
    --special-purple : #353A73;
    --blue : #26335D;
    --orange : #E78618;
    --red : #E71818;
    --green : #3E8F5F;
}

*{
    margin: 0;
    padding: 0;
    /* line-height: 1.5; */
}


html,
body{
    /* background-color: var(--black); */
    height: 100svh;
    width: 100svw;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* overflow-x: hidden; */
    /* border: 5px solid red; */
    /* padding: 10%; */
}





.Background {
    position: fixed;
    z-index: -1;
    color: red;
    width: 100%;
    height: 100vh;
    color: rgba(0,0,0 0.1);
}


.search-form input[type="search"] {
    padding: 0.5vh 1vw;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    background-color: none;
    width: auto;
    min-width: 100px;
}

.search-form {
    background-color: none;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.padding{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 3em;
    padding-top: 3em;
}

.fit{
    width: auto;
    margin-bottom: 1em;

}

.button{
    border: none;
    border: none;
    background-color: var(--purple);
    border-radius: 2svh;
    width: 7dvh;
    height: 7dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

.logo{
    width: 100%;
    min-width: 10px;
}




.header{
    /* position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 100; */

    width: 100%;
    background-color: #0B1016;
    padding: 1% 1%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    box-sizing: border-box;
}

.BitHub{
    width: 11svw;
    padding-left: 3.5%;
    margin-right: 20px;
    object-fit: contain;
}







.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.navbar img.navbarLogo {
    height: 100%;
    margin-right: 1vw;
    object-fit: contain;
}

.navbar a {
    color: white;
    padding: 1vh 1vw;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.2vh;
}

.navbar a:hover {
    background-color: #575757;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 90%;
    font-size: 2vh;
    position: sticky;
    top: 10vh;
    left: 0;
    padding: 1vh 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    z-index: 1;
    /* border: 5px solid red; */
}

.sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C3064;
    opacity: 0.25; 
    z-index: -1; 
}

.sidebar img {
    width: auto;
    min-width: 1vw;
    max-width: 2vw;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* color: white; */
}

.sidebar a, .profile-link a {
    padding: 2vh 3vw;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a:hover, .profile-link a:hover {
    background-color: #30467d;
    color: #f8f8f8;
}

.profile-link {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#profilePic{
    width: auto;
    min-width: 3vw;
    max-width: 4vw;
    
    /* object-fit: cover; Ensure the image covers the entire area */
    /* border: 5px solid black; */
    border-radius: 50%; /* Make the image a circle */
    display: block;

}

.grid{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(10,1fr);
    height: 100%;
    border: 2px solid lightblue;
}

.main-content{
    position: fixed; /* Fix position */
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 16vw;
     /* Adjust width to avoid sidebar overlap */
     height: 90svh; /* Full height */
     width: 84svw;
     padding: 2svw;
    color:#ffffff;
    /* z-index: -1; */
    /* background-color: red; */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
}

.left{
    display: flex;
    flex-direction: column;
}

.main-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100vw;
        height: auto;
        position: static;
    }

    .main-content {
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        margin-top: 10vh;
    }

    .navbar {
        flex-direction: column;
        height: auto;
    }

    .search-form {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 2vw;
    }
    
    .search-form input[type="search"] {
        padding: 0.8vh 2vw;
        font-size: 1.5vh;
        border: none;
        border-radius: 5px;
        width: 30%;
    }

    .navbar img.navbarLogo {
        height: 70%;
    }

    .navbar a {
        padding: 2vh 2vw;
        font-size: 3vh;
    }

    .background {
        background-size: contain;
    }
}

/* batas */
.profile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;    
    /* background-color: red; */
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-size: 1.1em;
}

.level {
    font-size: 0.9em;
    color: #aaa;
}

.question {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    /* margin-top: 250px; */
    margin-bottom: 50px;
    /* margin-left: 100px; */
}

.answer {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* margin-left: 100px; */
}


h2{
    margin-bottom: 10px;
    margin-left: 60px;
}

h3{
    margin-bottom: 10px;
    margin-left: 50px;
}

p{
    margin-left: 50px;
}

h4{
    font-size: 20px;
    padding-top: 5px;
}

.date{
    font-size: 0.8em;
    color: #aaa;
    padding-top: 20px;
    padding-bottom: 10px;
}

.time {
    font-size: 0.8em;
    color: #aaa;
    margin-top: 10px;
}

.table-container {
    overflow-x: auto;
    margin: 10px 0;
}

table {
    position: relative;
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.difficulty {
    background-color: #f2f2f2;
    color: #000;
    padding: 10px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 90%;
}

.code-input {
    display: flex;
    flex-direction: column;
}

textarea{
    width: auto;
    height: 59px;
    padding: 20px;
    outline: none;
    resize: none;
    font-size: 14px;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
    background: #f5f5f5;
}

.code-container {
    background-color: #222145;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50%;
    /* height: 10vh; */
    /* max-width: 100px; */
    /* max-height: 50%; */
    display: flex;
    
}

pre {
    margin: 0;
}

code {
    color: #ffffff;
    white-space: pre-wrap; /* Wrap code */
    display: block;
    font-size: 12px;
    line-height: 1.5;
}

.QWERTY{
    display: flex;
    
}