*{
    margin:0;
    padding: 0;
    font: inherit;
  }
  
  h1,h2,h3,h4,h5{
    text-wrap:balance;
  }
  
  p{
    text-wrap: pretty; /* to make sure there is no orphans ->lonely words*/
    max-width: 64ch;
  }
  
  html{
    hanging-punctuation: first last;
    /* color-scheme: dark light; */
  }
  
  body{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  img,
  picture,
  svg,
  video{
    display:block;
    max-width: 100%;
  }


.background {
    position: fixed; 
    width: 100%;
    height: 100vh;
    background-image: url('assets/bg_bHub2.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.replies-description{
    display: flex;
    gap: 1svw;
    width: 85%;
    height: 50svh;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 2svw;
}
.picture{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%; 
    margin-left: 10px;
}
.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 10px;
}
.reply-button,
.cancel-button {
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
}

.reply-button {
    background-color: whitesmoke;
}
.reply-button:hover{
    background-color: gray;
}

.cancel-button {
    color: white;
    margin-left: 10px;
   
}
.cancel-button:hover{
    color: palevioletred;
}

#reply{
    padding: 1svw;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    vertical-align: top;
    display: flex;
    align-items: flex-start;
    border: none;
    outline: none;
    line-height: normal;
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}

textarea{
    width: 100%;
    height: 100px; /* Adjust height as needed */
    padding: 20px;
    outline: none;
    resize: none;
    font-size: 1svw;
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
    background: #f5f5f5;
}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }